@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.333rem;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1em;
}

strong {
  color: #4c0000;
}

p.definition {
  padding: 1em;
  border-left: 8px solid red;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: 700;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small, .text_small {
  font-size: 0.8rem;
}

header {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 4em;
}


header>div {
  padding: 8em 2em;
  margin: 0 auto;
  max-width: 900px;

}

header>div>h1 {
  text-transform: uppercase;
  font-weight: 400;
}

header>div>h1>span {
  display: block;
  font-weight: 900;
}

article {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 900px;
}

article p:first-of-type {
  font-size: 1.4rem;
  line-height: 1.55;
}

h2 {
  margin-top: 2em;
}

img {
  width: 100%;
}


figure {
  background-color: #000000;
  padding: 0;
  margin: 2em 0 4em 0;
  /* border-bottom: 1px solid black; */
  color: #ffffff;
  text-align: justify;
  border: 1em solid black;
  border-radius: 8px;
}

figure>img {
  border-radius: 8px;
  overflow: hidden;
}

figure>figcaption {
  background-color: #000000;
  padding: 1em;
  line-height: 1.5;
  transform: rotate(0deg);
  margin-top: -1rem;
  border-radius: 0 0 8px 8px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  margin-top: 6em;
}

footer>p {
  display: block;
  max-width: 900px;
  padding: 4em 2em;
  margin: 0 auto;
}